*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
body{
    box-sizing: border-box;
}
.warrap{
    max-width: 1200px;
    margin: 0 auto;
    
    height: 300vh;
}
.cont{
    width: 1100px;
    margin: 0 auto;
}
.header{
    display: flex;
    align-items: center;
    padding-top: 50px;
    border-bottom: 1px solid #676767;
    padding-bottom: 35px;
    &-or{
        color: #cccccc;
    }
    &-left{
        margin-left: auto;
    }
    &-ul{
        display: flex;
        align-items: center;
       margin-bottom: 10px;
    }
    &-li{
      
        color: #676767;
        position: relative;
        font-size: 14px;
    }
   
    
    
   
    &-search{
        float: right;
        width: 180px;
        height: 23px;
       
        border: 1px solid #676767;
        border-radius: 5px;
       
    }
    &-search input{
        height: 20px;
        width: 85%;
      border: none;
        padding-left: 10px;
        font-size: 10px;
        background: none;
    }
    &-or-bottom{
        font-size: 15px;
    }
    &-or-top{
        font-size: 34px;
    }
    &-or-top span{
        font-size: 45px;
    }
 
}
.gach{
    margin-right: 15px;
}
.gach::after{
    content: "";
    position: absolute;
    display: block;
    border-left: 1px solid #676767;
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.search-btn{
    float: right;
    width: 13%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #959595;
}
.menu{
    padding-top: 45px;
    &-ul{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2b2b2b;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 5px;
    }
    &-a{
        text-transform: uppercase;
        color: #ffffff;
        font-size: 14px;
        transition: 1s;
    }
    &-li{
     
      padding: 5px 5px;
      position: relative;
      border-radius: 3px;
    }
   &-li:not(:last-child){
       margin-right: 30px;
      
    }
    
}
.menu ul li a{
  position: relative;
  padding: 10px 0px;
}
.menu ul li a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #cccccc;
  transform:scaleX(0);
  transform-origin:left ;
  transition: 0.5s all;
}
.menu ul li a::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #cccccc;
  transform: scaleX(0);
  transform-origin:right ;
  transition: 0.5s all;
}
.menu ul li a:hover::before , .menu ul li a:hover::after{
  transform:scaleX(1);
}
.silderr{
    margin-top: 25px;
    
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}
.slider {
    width: 750px;
    height: 467px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
  }
  
  .slides {
    width: 500%;
    height: 467px;
    display: flex;
  }
  
  .slides input {
    display: none;
  }
  
  .slide {
    width: 20%;
    transition: 2s;
  }
  
  .slide img {
    width: 750px;
    height: 467px;
  }
  
  .navigation-manual {
    position: absolute;
    width: 750px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn {
    border: 2px solid rgb(222, 220, 223);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transform: 1s;
  }
  
  .manual-btn:hover {
    background: black;
  }
  
  .manual-btn:not(:last-child) {
    margin-right: 30px;
  }
  
  #radio1:checked ~ .frist {
    margin-left: 0;
  }
  
  #radio2:checked ~ .frist {
    margin-left: -20%;
  }
  
  #radio3:checked ~ .frist {
    margin-left: -40%;
  }
  
  #radio4:checked ~ .frist {
    margin-left: -60%;
  }
  .hinhtron{
    padding-top: 40px;
   
    padding-bottom: 40px;
   text-align: center;
   
    &-tron{
      display: flex;
      align-items: center;
      color: #cccccc;
      justify-content:space-around;
      font-size: 37px;
      padding-top: 40px;
      
    }
    &-or span{
      font-size: 50px;
    }
    &-img{
      width: 220px;
      height: 225px;
    }
  }
  .hieuung-hu{
    padding-top: 50px;

   
  }
  .hieuung-item{
    width: 225px;
    height: 225px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 10px;
    margin: 10px 10px;
  }
  .hieuung-item img{
    width: 225px;
    height: 225px;
   overflow: hidden;
   border-radius: 10px;
  }
  .hieuung-chu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    text-align: center;
    padding-top: 40px;
    transform: translateX(100%);
    transition-duration: 0.7s;
    opacity: 0.6;
    border-radius: 10px;
    color: white;
   
  } 
  .hieuung-chu span{
    display: block;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
  }
.hieuung-item:hover .hieuung-chu{
    opacity: 1;
    transform: translateX(0);
    opacity: 0.6;
  }
  .hieuung-h3{
    margin-bottom: 40px;
    font-size: 25px;
    font-family: 'Pacifico', cursive;
  }
  .gird{
    padding-top: 50px;
    &-foot{
      text-align: center;
      font-size: 35px;
      text-transform: uppercase;
      color: #cccccc;
      font-family: 'Alex Brush', cursive;
      padding-top: 40px;
    }
    &-layout{
      padding-top: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 350px 100px 350px;
      grid-gap: 5px;
    }
    &-item{
      overflow: hidden;
      border-radius: 10px;
      position: relative;
      cursor: pointer;

    }
    &-item:hover::after{
      left: 0;
    }
    &-item i{
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 35px;
      transform: translate(-50%,-50%);
      color: rgb(255, 255, 255);
      opacity: 0;
    }
    &-item:hover i{
      opacity: 1;
    }
    &-item::after{
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";
      top: 0;
      left: -100%;
      display: block;
      background: rgba(0,0,0,0.5);
      transition: 0.5s;
    }
    &-item:first-child{
      grid-column: 1/3;
      grid-row: 1/2;
    }
    &-item:nth-child(2),
    &-item:nth-child(3){
      grid-row: 1/3;
    }
    &-item:nth-child(4),
    &-item:nth-child(5){
      grid-row: 2/4;
    }
    &-item:last-child{
      grid-column: 3/5;
    }
    &-item img{
      transition: 0.5s;
    }
    &-item:hover img{
      transform: scale(1.1);
    }
  }
  .wrata {
    /* Content is centered horizontally */
    align-items: center;
    display: flex;
    /* Used to set the position of text */
    position: relative;
  }
  
  .wrata__content {
    /* We won't see the separator line */
    background: #e2494b;
    color: white;
    /* Displayed at the center of container */
    padding: 5px 13px;
    border-radius: 3px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 20px;
  }
  
  .wrata__separator {
    border-bottom: 1px solid #cccccc;
    height: 1px;
    width: 100%;
  }
  .giua{
    margin-bottom: 40px;
   &-chu{
     text-align: center;
     padding-top: 50px;
   }
   &-h2{
     padding-top: 40px;
    margin-bottom: 30px;
    font-family: 'Caveat', cursive;
   }
   &-p{
     margin-bottom: 30px;
     font-size: 25px;
     font-family: 'Allison', cursive;
   }
   
   &-input{
    text-transform: uppercase;
    color: #5aa8e7;
  
   }
   &-tieude{
     margin-bottom: 50px;
     font-weight: 700;
     font-size: 20px;
   }
   &-doanvan{
     font-size: 20px;
     line-height: 29px;
     
   }
   &-a {
     color: rgb(214, 174, 86);
     font-size: 22px;
     
   }
   &-tieude,
   &-doanvan{
     text-align: left;
   }
   
  
   
    
  }
  .giua ul {
    display: grid;
    grid-template-columns: 550px 550px;
    grid-template-rows: 240px 240px;
    grid-gap: 10px 0px;
  }
  .giua ul li img{
    float: left;
    width: 50%;
    margin-right: 10px;
  }
  .cuoi{
  
    &-n{
      text-align: center;
      margin-top: 40px;
      
     
    }
    &-h2{
      margin-bottom: 30px;
      font-family: 'Caveat', cursive;
    }
    &-p{
      margin-bottom: 50px;
      font-size: 20px;
      font-family: 'Allison', cursive;
    }
    &-ul{
      display: flex;
    }
   &-khungnho{
     position: relative;
   }
    &-chu{
      position: absolute;
      top: 0;
      left: 0;
    }
    &-h3{
      font-size: 25px;
      margin-top: 25px;
    }
    &-p{
      text-align: center;
      font-size: 18px;
      padding: 10px;
    }
  }
  .cuoi-chu a{
    background-color: #5aa8e7;
    padding: 25px;
    border-radius: 10px;
    border: 5px solid white;
    transition: 0.5s;
  }
  .cuoi-chu a:hover{
    background: #b0d625;
  }
  .tesn{
    text-align: center;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col{
    width: 30.33%;
    max-width: 30.33%;
    box-sizing: border-box;
    padding: 15px;
    transition: 0.5s;
  }
  .xol{
    background: rgb(226, 223, 223);
    padding: 30px;
  }
  .xol img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }
  .strats{
    color: #6ab04c;
    margin-bottom: 20px;
  }
  .tesn h1{
    font-family: 'Allison', cursive;
    padding-top: 40px;
  }
  .nhanxet{
    margin-top: 40px;
  }
  .tesn{

    
  }
  .col:hover{
   
    transform: scale(1.1);
  }
  .tesn .gachngang{
    height: 5px;
    width: 100px;
    background: #6ab04c;
    margin: 10px auto;
    
  }
  
  
 